<div class="floating-window__header">
    <h1 class="floating-window__close"{{action "close"}}>
        <span>&#215;</span>
    </h1>
    <h1 class="floating-window__title">{{title}}</h1>
</div>

<div class="floating-window__body-container">
    {{yield}}
</div>
