{{#floating-window close="home" title="Degrees: Computer Science & Applied Mathematics"}}
    <div>
        <img class="block-image" src="/src/images/math.01.png"/>
        <section>
            I minored Applied Mathematics;
        </section>
        <img class="block-image" src="/src/images/cs.books.png"/>
        <section>
            My major is Computer Science
        </section>
    </div>
{{/floating-window}}