{{#floating-window close="home" title="I AM PTX, HIRE ME!"}}

    <img class="block-image" src="/src/images/hangzhou.png"/>

    <section>
        <h1 class="profile-entry">Name: Xu Pu, PTX.</h1>
        <h1 class="profile-entry">Current Location: HangZhou, China</h1>
        <h1 class="profile-entry">Language: Chinese, English</h1>
        <h1 class="profile-entry">
            Education:<br/>
            Hunan Normal University (211)<br/>
            Computer Science Major, Applied Mathematics Minor,<br/>
            details in {{#link-to "degrees"}}degrees section{{/link-to}}.
        </h1>
        <h1 class="profile-entry">Skills: Details in {{#link-to "degrees"}}skills section{{/link-to}}.</h1>
        <h1 class="profile-entry">Email: sheep9275@gmail.com</h1>
        <h1 class="profile-entry">QQ: 619260532</h1>
    </section>

    <img class="block-image" src="/src/images/websfm.01.png"/>

    <section>
        <h1>Prjects:</h1>
        <p>
            WebSFM is my biggest private project,<br/>
            its a SFM system implemented in web platform that can turn photos into 3D models in a modern browser,<br/>
            details {{#link-to "websfm"}}here{{/link-to}}
        </p>
        <p>
            WebReddit is a small project of mine,<br/>
            its a reddit client implemented using Ember/Scala/Nginx.<br/>
            details {{#link-to "websfm"}}here{{/link-to}}
        </p>
    </section>

    <section>
        Hire me! I'm looking for job!<br/>
        Looking for <em>job or internship</em> both <em>demestic(China) and aboard</em>, <em>startup and corp</em> both welcome.<br/>
        Recent graduate , no formal work experience, but have some skills and good at learning.
    </section>

{{/floating-window}}