{{#floating-window close="home" title="SKILLS"}}

    <img class="block-image" src="/src/images/websfm.01.png"/>

    <section>
        About my overall skills, WebSFM is my best work.
    </section>

    <section>
        The programming language I'm most fluent is JavaScript, I have been working on WebSFM for a year now. I'm also learning Scala and functional reactive programming.
    </section>

    <section>
        About traditional programming languages like C++ and Java, I learned and passed it like other CS major, but haven't used them for a while and never did real work with it.
    </section>

    <img class="block-image" src="/src/images/research.png"/>

    <section>
        About Research:<br/>
    </section>

    <img class="block-image" src="/src/images/arch.png"/>

    <section>
        About Linux:
    </section>

    <section>
        <p>
            I am experienced with Linux, have been using Arch Linux full time for more than 3 years (desktop, server, raspberry pi, etc).
        </p>
        <p>
            Use Arch Linux fulltime is mostly because 3 years ago I want to get into *nix as fast as possible, I heard Arch is one of the more complicated distribution out there,
            so I choose immersive learning by ditch Windows and use Arch fulltime. The result is extraordinary, I not only learned *nix very quick, because of the
        </p>
        <p>
            At this moment I'm still using it full time is mostly because I don't have a spare PC and don't want to change my setup before employment.
        </p>
    </section>

    <img class="block-image" src="/src/images/gre.score.png"/>

    <section>
        About English:
    </section>

    <section>
        I took GRE in the second year of college.
    </section>

{{/floating-window}}