{{#floating-window close="home" title="SKILLS"}}

    <img class="block-image" src="/src/images/websfm.01.jpeg"/>

    <section>
        About my overall skills, <a href="http://websfm.org" target="_blank">WebSFM</a> is my best work.
    </section>

    <section>
        The programming language I'm most fluent is JavaScript (poor life choice), currently learning Scala.<br/>
        Didn't take time and master a robust language like Java or C++ is definitely a huge mistake, currently fixing it.<br/>
    </section>

    <section>
        I'm familiar with the web platform, including JavaScript, CSS/SCSS/Compass, HTTP etc. My frontend framework of choice is Ember.js.
    </section>

    <img class="block-image" src="/src/images/research.png"/>

    <section>
        About Research:<br/>
    </section>

    <section>
        Majored in computer science, minored in applied mathematics, have robust math and cs background.
        Know some basics about researching, mostly from the experience of developing WebSFM.
        Some professional guidance still needed.
    </section>

    <img class="block-image" src="/src/images/arch.png"/>

    <section>
        About Linux:
    </section>

    <section>
        Experienced with Linux, have been using Arch Linux fulltime for more than 3 years, including tools like emacs, git, zsh etc.<br/>
        I'm not obsessed with Linux, open to other platforms if needed.
    </section>

    <img class="block-image" src="/src/images/gre.score.png"/>

    <section>
        About English:
    </section>

    <section>
        大一开始看英文专业书,大二考过GRE,大三做过字幕,现在从论文书籍文档到youtube,podcast无障碍.
    </section>

    <img class="block-image" src="/src/images/math.books.jpeg"/>
    <img class="block-image" src="/src/images/cs.books.jpeg"/>

{{/floating-window}}