{{#floating-window close="home" title="WebReddit"}}

    <img class="block-image" src="/src/images/webreddit.02.png"/>

    <section>
        <p>
            WebReddit is a small project of mine,<br/>
            its a reddit client implemented using Ember/Scala/Nginx.<br/>
        </p>
    </section>

{{/floating-window}}