{{#floating-window close="home" title="WebSFM (Structure from Motion)"}}

    <img class="block-image" src="/src/images/websfm.01.png"/>

    <section>
        WebSFM is my graduate project.
    </section>

{{/floating-window}}