{{#floating-window close="home" title="WebSFM (Structure from Motion)"}}

    <img class="block-image" src="/src/images/websfm.01.png"/>

    <section>
        WebSFM is a Structure from Motion system in modern browser, it is implemented in javascript, can run inside browser or node.<br/>
        The functionality is similar to VisualSFM, Autodesk 123Catch, Pix4D and PhotoModeler.<br/>
        It is still in very early stage of development.<br/>
        <a href="http://websfm.org" target="_blank">Checkout WebSFM</a><br/>
        <a href="https://github.com/ptx-pluto/web-sfm" target="_blank">Source code on Github</a>
    </section>

    <section>

    </section>

{{/floating-window}}