.hexagon-tile {

  &:hover .hexagon-tile__outter {
    stroke: white;
  }

}

.hexagon-tile__outter {

  stroke: red;
  stroke-width: 5;
  stroke-linecap: square;

}

.hexagon-tile__inner {

  fill: #FF0526;

}