.content-tile {

  cursor: pointer;

  &:hover .content-tile__outer {
    stroke: white;
  }

}

.content-tile__outer {

  stroke: red;
  stroke-width: 5;
  stroke-linecap: square;

}


.content-tile__inner {}