@import "compass";

.floating-window {
  background-color: #424245;
  min-width: 60em;
  width: 50%;
  $margin: 1.5em;
  position: fixed;
  top: $margin;
  bottom: $margin;
  right: $margin;
  color: #ADADAD;
  @include box-shadow(0 0 10px 1px black);
}

$floating-window-height: 5em;

.floating-window__header {
  background-color: #212022;
  display: flex;
  height: $floating-window-height;
  @include flex-direction(row);
}

.floating-window__body-container {
  position: absolute;
  top: $floating-window-height;
  bottom: 0;
  overflow: auto;
}

.floating-window__title {
  @include flex(1 0 0);
  display: flex;
  padding-left: 1em;
  @include align-items(center);
  font-size: 2em;
  color: #ADADAD;
}

.floating-window__close {
  cursor: pointer;
  color: #ADADAD;
  background-color: #504F50;
  @include flex(0 0 $floating-window-height);
  display: flex;
  @include justify-content(center);
  @include align-items(center);

  span {
    font-size: 3em;
  }

}