@import "reset";
@import "components/hexagon-grid";
@import "components/hexagon-tile";
@import "components/content-tile";
@import "components/floating-window";

html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}

.block-image {
  display: block;
  width: 100%;
}

section {
  font-size: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;


  em {
    text-transform: uppercase;
    color: darkblue;
  }


}

// Profile

h1.profile-entry {

  font-weight: bold;

  margin: 0.5em;

}