@import "partials/hexagon-tile";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  background-color: black;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}

polygon {
  fill: #FF0526;
//  fill: none;
  stroke: red;
  stroke-width: 5;
//  stroke-dashoffset: edges;
//  stroke-dasharray: edges;
  stroke-linecap: square;
}