@import "reset";
@import "components/hexagon-grid";
@import "components/hexagon-tile";
@import "components/content-tile";

html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  padding: 0;
  margin: 0;
  border: 0;
}
