{{#floating-window close="home" title="I'm PTX"}}

    <img class="block-image" src="/assets/images/hangzhou.png"/>

    <section>
        <h1 class="profile-entry"><em>Name:</em> 徐普, Xu Pu, PTX.</h1>
        <h1 class="profile-entry"><em>Current Location:</em> Shen Zhen, China</h1>
        <h1 class="profile-entry"><em>Home:</em> Hang Zhou, China</h1>
        <h1 class="profile-entry"><em>Languages:</em> Chinese & English</h1>
        <h1 class="profile-entry">
            <em>Education:</em><br/>
            Hunan Normal University 湖南师范大学 (211)<br/>
            Computer Science Major, Applied Mathematics Minor (2014)<br/>
        </h1>
        <h1 class="profile-entry"><em>Skills:</em> Details in {{#link-to "skills"}}skills section{{/link-to}}.</h1>
        <h1 class="profile-entry"><em>Personal Email:</em> ptx(dot)pluto@gmail.com</h1>
        <h1 class="profile-entry"><em>Corp Email:</em> pu(dot)xu@dji.com</h1>
        <h1 class="profile-entry"><em>QQ:</em> 619260532</h1>
        <h1 class="profile-entry">
            <em>Private Projects:</em>
            <a href="http://websfm.org" target="_blank">WebSFM</a> ,
            {{#link-to 'webreddit'}}WebReddit{{/link-to}}
        </h1>
    </section>

    <img class="block-image" src="/assets/images/shenzhen.png"/>

    <section>
        I am currently an intern at DJI Innovations.
    </section>

{{/floating-window}}