{{#floating-window close="home" title="I AM PTX, HIRE ME!"}}

    <img class="block-image" src="/src/images/hangzhou.png"/>

    <section>
        <h1 class="profile-entry"><em>Name:</em> 徐普, Xu Pu, PTX.</h1>
        <h1 class="profile-entry"><em>Current Location:</em> 杭州 HangZhou, China</h1>
        <h1 class="profile-entry"><em>Languages:</em> Chinese & English</h1>
        <h1 class="profile-entry">
            <em>Education:</em><br/>
            Hunan Normal University 湖南师范大学 (211)<br/>
            Computer Science Major, Applied Mathematics Minor (2014)<br/>
        </h1>
        <h1 class="profile-entry"><em>Skills:</em> Details in {{#link-to "skills"}}skills section{{/link-to}}.</h1>
        <h1 class="profile-entry"><em>Email:</em> ptx(dot)pluto@gmail.com</h1>
        <h1 class="profile-entry"><em>QQ:</em> 619260532</h1>
        <h1 class="profile-entry">
            <em>Private Projects:</em>
            <a href="http://websfm.org" target="_blank">WebSFM</a> ,
            {{#link-to 'webreddit'}}WebReddit{{/link-to}}
        </h1>
    </section>

    <section>
        Hire me! I'm looking for job!<br/>
        Looking for job or internship both domestic(China) and aboard.<br/>
        Recent graduate, no formal work experience, but have some skills and good at learning.<br/>
        Please checkout <a href="http://websfm.org" target="_blank">WebSFM</a>, it's my best work.
    </section>

{{/floating-window}}