{{#floating-window close="home" title="WebReddit"}}

    <img class="block-image" src="/assets/images/webreddit.02.png"/>

    <section>
        WebReddit is a small project of mine, a reddit client focused on browsing images.<br/>
    </section>

    <section>
        It is a single page application using Ember.js, OAuth authentication is handled by a scala backend with nginx API proxy.
        It also recoganizes Imgur URLs and will call imgur APIs to provide a better user experience.
    </section>

    <section>
        You can check it out at <a href="http://webreddit.ptx.digital" target="_blank">webreddit.ptx.digital</a>
    </section>

{{/floating-window}}